<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.zrff.backend.auth.controller.LoginController">
    <select id="getUserByPhone" parameterType="java.util.Map" resultType="com.github.zrff.backend.auth.model.User">
        select id,nick_name nickName,phone_no phoneNo,password,create_time createTime,update_time updateTime
        from user
        where phone_no='${username}'
        limit 1
    </select>
</mapper>